*, *::before, *::after
{
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root
{
	--hue-neutral: 30;
	--hue-wrong: 0;
	--hue-correct: 145;
}

body
{
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 40%);
}
.container
{
	width: 500px;
	max-width: 30%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

.container input
{
	display: block;
	width: 75%;
}

.secondcontainer
{
	width: 500px;
	max-width: 30%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

.secondcontainer input
{
	display: block;
	width: 75%;
}

.controls
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-grid
{
	display: grid;
	grid-template-columns: respect(2, auto);
	gap: 10px;
	margin: 20px 0;
}

.btn
{
	--hue: var(--hue-neutral);
	border: 1px solid hsl(var(--hue), 100%, 30%);
	background-color: hsl(var(--hue), 100%, 50%);
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	outline: none;
	display: block;
	width: 100%;
}

.btn:hover
{
	border-color: black;
}
.main-div, .loggedin-div
{
	
}
